html {
   background-image: linear-gradient(#fc5e55,#fa4083 );

}
body { 
   background-image: url(assets/image-lion-background.png);
   background-position: top  center;
   background-repeat: none;
 font-family: 'Roboto', sans-serif;
color: white;
font-size: 1.125rem;
}
a {
color: white;
text-decoration:none;


}
.container {
    width: 1024px;
   min-height:300px ;
margin-right: auto;
margin-left: auto;
}

header {
display: flex;
justify-content:space-between ;
align-items:center;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid  lightgrey;
}
main {
min-height: 300px;
display: flex;
align-items: center;
}

.main2 {
min-height:300px;
padding-top: 50px;
}
.cards {
   min-height: 300px;
    display:flex ;
    justify-content:space-between ;
   text-align: center
    }

 .card1 {
background-image: url(/assets/image-background-card1.jpg);
width: 30%;
min-height: 250px;
border-radius: 20px;
background-position: bottom;
 background-size: cover; 

 }   
 .card2 {
    background-image: url(/assets/image-background-card2.jpg); 
    width: 30%;
    min-height: 250px;
    border-radius: 20px;
    background-position: bottom;
     background-size: cover; 
    
     }   
     .card3 {
   background-image: url(/assets/image-background-card3.jpg); 
        width: 30%;
        min-height: 250px;
        border-radius: 20px;
         background-position: bottom;
        background-size: cover; 
         } 
      .card1, .card2 , .card3 {
             padding: 30px 30px 20px 30px;
             box-sizing: border-box;
         }  

.herobox1 {
flex: 2;
padding-right: 100px;
}

.herobox2{
flex: 1;
}

h1 {
   font-size: 3.25rem;
   font-family: 'playfair display',serif;
   margin-bottom: 1rem;
}

img {
   border-radius:20px;
 }

p {
line-height: 1.75rem;
margin-bottom: 0.5rem;
}
h1 {
   font-size: 3.25rem;
   font-family:'playfair display',serif;
   margin-bottom: 1rem;
}
h2 {
   font: size 2rem;
   font-family:'playfair display',serif;
   margin-top: 20px;
}

.cards p {
   font-size: 0.85rem;
   line-height: 1.2;
   margin:  10px 30px  20px 30px;
}

.mybutton {
   background-color: white;
   color: #fa4083;
   font-family:'playfair display',serif;
   padding: 11px 25px;
   box-shadow: 5px 5px rgb(163, 147, 147);}

.mybutton:hover {
   background-color: rgb(20, 19, 19)
}
a.mybutton {
  display: inline-block;
margin: 20px;
border-radius: 20px;
}

nav a.mybutton {
margin-left: 5px;
}

.navbutton {
  border:1px solid white; 
  padding: 11px 25px;
  font-family:'playfair display',serif;
  display: inline-block
}
.testimonials {
display: flex;
flex-wrap:wrap ;
justify-content: space-between;
margin-bottom: 100px;

}


.tbox {
   width: 47%;
   padding: 50px;
   border:1px solid white ;
   box-sizing: border-box;
   margin-top: 50px;
}


 .navbutton:hover .dropdown {
   display:block;
}

.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {background-color: #ddd;}
 
 .dropdown:hover .dropdown-content {display: block;}
 
 .dropdown:hover .navbutton {background-color:#0c0c0c;}

.inputwrapper {
margin-bottom: 20px;
}

input [type=text], input[type=Email], textarea  {
   padding: 12px 20px ;
   width: 40%;
   font-family: 'Roboto', sans-serif;
   font-size:  0.85rem ;
   
   }

   















